* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-weight: 400;
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}
.header-logo {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
}

.container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav-bar {
  display: flex;
  align-items: center;
}
.logo-hea {
  display: flex;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  cursor: pointer;
  margin-right: 76px;
  padding: 24px 0;
}

.stu-dio-1 {
  color: #2e2f42;
}
.header-item,
.header-ul,
.adress-link {
  display: flex;
  font-size: 16px;
  gap: 40px;
}
.header-ul .item {
  padding: 24px 0;
}
.adress {
  display: flex;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 40px;
}

.link-list {
  font-style: normal;
  display: flex;
  gap: 40px;
}

.header-item {
  display: flex;
  font-family: "Roboto";
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  gap: 40px;
}
.header-item:hover,
.header-item:focus {
  color: #404bbf;
}

.adress:hover,
.adress:focus {
  color: #404bbf;
}

h1 {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
}

.order-service {
  background-color: #2e2f42;
  padding: 188px 0;
}
.main-text {
  max-width: 496px;
}
.button {
  display: block;
  margin: 0 auto;
}

.button-text-color {
  font-family: "Roboto" sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  border-radius: 4px;
  cursor: pointer;
}

.button-text-color:hover {
  background-color: #404bbf;
}
.button-text-color:focus {
  background-color: #404bbf;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.middle-part {
  padding: 120px 0;
}
.middle-ul {
  display: flex;
  gap: 24px;
}
.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.our-team-div {
  padding: 32px 0;
}

.team-list {
  background-color: #ffffff;
  display: block;
}
.team-member {
  display: block;
  text-align: center;
  margin-bottom: 8px;
}

h3 {
  font-family: "Roboto";
  color: #2e2f42;
  font-size: 20px;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
}
.our-team-ul {
  display: flex;
  gap: 24px;
}
.our-portfolio,
.our-portfolio-2 {
  padding: 120px 0;
  margin-bottom: 72px;
}
.our-portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.our-portfolio-div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}

p {
  display: flex;
  font-family: "Roboto";
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  text-align: center;
}
h2 {
  font-family: "Roboto";
  font-size: 36px;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.11;
  margin-bottom: 72px;
}
.footer {
  display: inline-block;
  padding: 100px 0;
  font-family: "Raleway" sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  cursor: pointer;
  background-color: #2e2f42;
}
.stu-dio {
  color: #f4f4fd;
}
.logo-hea {
  margin-bottom: 16px;
}
.logo-hea,
.stu-dio {
  display: inline-block;
}

.footer-p {
  color: #f4f4fd;
  letter-spacing: 0.02em;
  background-color: #2e2f42;
  font-size: 12px;
  line-height: 1.5;
  max-width: 264px;
}
